{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<ul>
    <li><a href={{ path("index") }}>home</a></li>
    <li>auth as : {{ app.user.email }}</li>
    <li><a href={{ path("app_logout") }}>logout</a></li>
</ul>

<br/>
{{ form(form) }}
<br />

<table>
    <thead>
        <tr>
            <th>urls</th>
            <th>shorts</th>
            <th>nb click</th>
        </tr>
    </thead>
    <tbody>
        {% for url in urls %}
            <tr>
                <td>{{ url.url }}</td>
                <td><a href="http://localhost:8000/s/{{url.short}}">http://localhost:8000/s/{{ url.short }}</td>
                <td>{{ url.nbclick }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
